registry=https://registry.npm.taobao.org/
sass-binary-site=http://npm.taobao.org/mirrors/node-sass
sass_binary_site=https://npm.taobao.org/mirrors/node-sass/
sass_binary_site = https://npm.taobao.org/mirrors/node-sass
phantomjs_cdnurl = https://npm.taobao.org/mirrors/phantomjs
